---
import FilledAnchorButton from "../filled-anchor-button/FilledAnchorButton.astro";
import style from "./style.module.css";

type Props = {
    title: string,
    description: string,
    features: string[]
}

const { title, description, features } = Astro.props;
---

<div class={style.container}>
    <div class={style.header}>
        <h3 class={style.title}>{title}</h3>
        <p class={style.description}>{description}</p>
    </div>
    <div class={style.content}>
        <div class={style.divider} />
        <ul class={style.features}>
            {features.map((feature) => (
                <li class={style.featureItem}>
                    <img src="/assets/icons/arrow.svg" alt="" class={style.checkIcon} />
                    <span>{feature}</span>
                </li>
            ))}
        </ul>
        <div class={style.buttonContainer}>
            <FilledAnchorButton 
                name="Consultar ahora"
                href={`https://wa.me/+543516135462?text=Hola,%20me%20interesa%20el%20servicio%20de%20${title}`}
                ariaLabel="Consultar presupuesto"
                modifier={style.button} 
            />
        </div>
    </div>
</div>