---
import MediumTitle from "../../components/medium-title/MediumTitle.astro";
import ProjectCard from "../../components/project-card/ProjectCard.astro";
import projects from "../../data/projects.json";
import style from "./style.module.css";

const carouselProjects = [...projects, ...projects];
---

<section class={`${style.container} section`} id="proyectos">
  <MediumTitle title="Nuestros proyectos" modifier={style.title} />
  <div class={`${style.subcontainer} delimiter`}>
    <div class={style.carouselWrapper} id="carrousel">
      <div class={style.track}>
        {carouselProjects.map((project) => (
          <ProjectCard
            image={project.image}
            title={project.title}
            description={project.description}
          />
        ))}
      </div>
    </div>
  </div>
</section>