---
import MediumTitle from "../../components/medium-title/MediumTitle.astro";
import ProjectCard from "../../components/project-card/ProjectCard.astro";
import style from "./style.module.css";
---

<section class={`${style.container} section`}>
    <MediumTitle title="Nuestros proyectos" modifier={style.title} />
    <div class={`${style.subcontainer} delimiter`}>
        <div class={style.carouselWrapper} id="carrousel">
            <div class={style.track}>
                <!-- Original -->
                <ProjectCard
                  image="/assets/projects/sieteColores_web.webp"
                  title="Web: Siete Colores"
                  description="Catálogo web de productos"
                />
                <ProjectCard
                  image="/assets/projects/sieteColores_sistema.webp"
                  title="Sistema: Siete Colores"
                  description="Sistema de gestión"
                />
                <ProjectCard
                  image="/assets/projects/wocks_marca.webp"
                  title="Diseño: Wocks"
                  description="Identidad visual de marca"
                />
                <ProjectCard
                  image="/assets/projects/auraluna_app.webp"
                  title="App: Auraluna"
                  description="Aplicación móvil de música"
                />
                <!-- Duplicado (Efecto infinito)-->
                <ProjectCard
                  image="/assets/projects/sieteColores_web.webp"
                  title="Web: Siete Colores"
                  description="Catálogo web de productos"
                />
                <ProjectCard
                  image="/assets/projects/sieteColores_sistema.webp"
                  title="Sistema: Siete Colores"
                  description="Sistema de gestión"
                />
                <ProjectCard
                  image="/assets/projects/wocks_marca.webp"
                  title="Diseño: Wocks"
                  description="Identidad visual de marca"
                />
                <ProjectCard
                  image="/assets/projects/auraluna_app.webp"
                  title="App: Auraluna"
                  description="Aplicación móvil de música"
                />
            </div>
        </div>
    </div>
</section>