---
import Navbar from "../navbar/Navbar.astro";
import style from "./style.module.css";
---

<header class={style.header}>
    <div class={style.container}>
        <div>
            <a href="/" aria-label="home" class={style.linkhome}>
                <div class={style.linkhome}>
                    <img src={"/assets/brand/isologo.svg"} alt="home" class={style.isologo} />
                    <span>Inicio</span>
                </div>
            </a>
        </div>
        <Navbar />
    </div>
</header>