---
import style from "./style.module.css";
import NavItem from "../nav-item/NavItem.astro";
---

<nav>
    <img id="burger-menu" src={"/assets/icons/bxs-menu.svg"} alt="open menu" class={style.burger} />
    <div id="nav-box" class={`${style.navBox} ${style.navBoxInactive}`} data-navbox>
        <div class={style.routesContainer}>
            <img id="close-menu" src={"/assets/icons/bxs-cross.svg"} alt="close menu" class={style.close} />
            <ul class={style.navList}>
                <NavItem href="/#servicios" arialabel="Servicios" title="Servicios" number={1} />
				<NavItem href="/#proyectos" arialabel="Proyectos" title="Proyectos" number={2} />
				<NavItem href="/#precios" arialabel="Precios" title="Precios" number={3} />
				<NavItem href="https://wa.me/+543516135462" arialabel="Contacto" title="Contacto" number={4} />
            </ul>
        </div>
    </div>
</nav>

<script src="./script.js" />